@model WebApplication1.GameRound
@{
    ViewBag.Title = "PlayRound";
}

<h2>Course: @Html.DisplayFor(model => model.Hole1.GolfCourse1.Name)</h2>
<h2>Hole @Html.DisplayFor(model => model.Hole1.Number)</h2>
<br>
<h3>Par: @Html.DisplayFor(model => model.Hole1.Par)</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Game)
    @Html.HiddenFor(model => model.Hole)

    <div class="form-group">
        @Html.LabelFor(model => model.Throws, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Throws, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Throws, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Previous" class="btn btn-default" name="previousbutton" />
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Next" class="btn btn-default" name="nextbutton" />
        </div>
    </div>

    @Html.ActionLink("Finish Game", "FinishRound", "Home", new { id = ViewBag.gameID }, null)
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
