@model IEnumerable<WebApplication1.Game>


@{
    ViewBag.Title = "Stats";
}

<h2>Stats</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.GolfCourse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Par)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.GolfCourse)
            </td>
            <td>
                
                @Html.ActionLink("FinishRound", "FinishRound", "Home", new { item.ID } , null)
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Par)
            </td>

        </tr>
    }
</table>