@model IEnumerable<WebApplication1.Game>


@{
    ViewBag.Title = "Stats";
}

<h2>Stats</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.GolfCourse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            <p>Total Score</p>
        </th>

        <th>
            <p>Details</p>
        </th>
    </tr>
    @{ int sum = 0;}
    @{ int i = 0;}
    @{ int average = 0;}
    @foreach (var item in Model)
    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.GolfCourse1.Name)
        </td>
        <td>
            @if (item.Date.HasValue)
            {
                @item.Date.Value.ToString("yyyy/MM/dd")
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Par)
        </td>
        <td>
            @Html.ActionLink("More info", "FinishRound", "Home", new { item.ID }, null)
        </td>

    </tr>
        if(item.Total_Par != 0)
        {
            i++;
        }

        sum = sum + (int)item.Total_Par;
    }
    @{average = sum / i;}

    <tr>
        <td>

        </td>
        <td>

        </td>
        <td>
            <p>Season average: @(average)</p>
        </td>
    </tr>

</table>